# dependencies
node_modules/

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# files
/gulp/version.json
/src/fonts/*
/src/files/*
/src/img/*
/src/svgicons/*

!/src/fonts/.keep
!/src/files/.keep
!/src/svgicons/.keep
!/src/img/.keep
