<nav class="navbar">
  <div class="logo">
    <a href="#" class="logo">
      <img class="logo__img" src="@img/logo.png" alt="logo">
    </a>
  </div>
  <ul class="menu">
    <li class="menu__item"><a href="#" class="menu__item-link">Blog</a>
    </li>
    <li class="menu__item"><a href="#" class="menu__item-link">
        Twitter
      </a>
    </li>
    <li class="menu__item"><a href="#" class="menu__item-link">
        Discord
      </a>
    </li>
    <li class="menu__item button"><a href="#" class="menu__item-link">Open App</a></li>
  </ul>
  <div class="burger">
    <span></span>
  </div>
</nav>