<figure class="card">
  <img src="@img/backed-8.jpg" alt="card-photo" class="card__photo">
  <figcaption class="card__figcaption">
    <p class="card__title">Lorem Ipsum</p>
    <ul class="card__social-bar">
      <li class="card__social">
        <a href="#" class="card__social-link" target="_blank" rel="noreferrer noopener">
          <img src="@img/twitter.svg" alt="social-icon" class="card__social-icon">
        </a>
      </li>
      <li class="card__social">
        <a href="#" class="card__social-link" target="_blank" rel="noreferrer noopener">
          <img src="@img/linkedin.svg" alt="social-icon" class="card__social-icon">
        </a>
      </li>
    </ul>
  </figcaption>
</figure>