.grid-box {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  gap: 30px 20px;

  @media (max-width: $breakpoint480) {
    gap: 20px;
  }

  // .grid-box__item

  &__item {
    border: $colorBg;
    border-radius: 4px;

    &:nth-child(5n),
    &:nth-child(5n-3),
    &:nth-child(4) {
      background: $colorBg;
      box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
    }

    @media (max-width: 1120px) {
      &:nth-child(even) {
        background: $colorBg;
        box-shadow: 0px 4px 144px rgba(0, 0, 0, 0.04);
      }

      &:nth-child(odd) {
        background: $colorCardHover;
      }
    }
  }
}