.card {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  border-radius: 1.6rem;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1.6rem;
    z-index: 1;
  }

  // card_accent
  &_accent {}

  // card_l
  &_l {
    width: 100%;
    min-height: 20.2rem;
    // background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    background: url("../img/card1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }

  // card_l-sidebar
  &_l-sidebar {
    min-height: 22.6rem;
  }

  // card_m
  &_m {
    width: calc(450/961*100%);
    min-height: 25.1rem;
    background: url("../img/card2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    // показываем плашку trending 
    &:first-child .card__views_accent {
      display: block;
    }
  }

  // card_s
  &_s {
    width: calc(286/961*100%);
    min-height: 19.2rem;
    background: url("../img/card3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  // .card__views

  &__views {
    position: absolute;
    top: 1.9rem;
    left: 1.9rem;
    font-style: normal;
    z-index: 2;


    // .card__views_default

    &_default {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.1875;
    }

    // .card__views_accent

    &_accent {
      display: none;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.1428;

      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(16px);
      /* Note: backdrop-filter has minimal browser support */
      border-radius: 16px;

      padding: .5rem 1.5rem;
    }

    // __views_s
    &_s {
      visibility: hidden;
    }
  }

  // .card__control-bar

  &__control-bar {
    z-index: 55;
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    justify-content: space-between;

    // .card__control-bar_l

    &_l {
      padding: 1.9rem;
    }

    // .card__control-bar_m

    &_m {
      padding: 1.9rem;
      background: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(16px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 16px;
    }

    // card__control-bar_s

    &_s {
      padding: 1rem 1.9rem;
      background: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(16px);
      /* Note: backdrop-filter has minimal browser support */

      border-radius: 16px;

    }
  }

  // .card__play

  &__play {
    background: rgba(255, 255, 255, 0.07) url('../img/play-icon.svg') no-repeat;
    background-position: center center;
    backdrop-filter: blur(16px);
    border-radius: 50%;
    /* Note: backdrop-filter has minimal browser support */

    // .card__play_l

    &_l {
      width: 8.1rem;
      height: 8.1rem;
      background-size: 2rem;

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }


    // .card__play_m

    &_m {
      margin-right: 1.5rem;
      width: 3rem;
      height: 3rem;
      background-size: 1.11rem 1.11rem;
    }

    // .card__play_s

    &_s {
      margin-right: 1rem;
      width: 1.8rem;
      height: 1.8rem;
      background-size: .667rem .667rem;
    }
  }


  // card__content

  &__content {
    display: flex;
    flex-direction: column;
  }

  // .card__info

  &__info {
    display: flex;
    align-items: center;

    // .card__info_default

    &_default {}
  }

  // .card__name

  &__name {
    font-style: normal;
    font-weight: 700;

    // .card__name_l

    &_l {
      font-size: 2.4rem;
      line-height: 1.1666;
      margin-bottom: .5rem;
    }

    // .card__name_s

    &_s {
      font-size: 1rem;
      line-height: 1.2rem;
      margin-bottom: .2rem;
    }

    // .card__name_m

    &_m {
      font-size: 1.5rem;
      line-height: 1.2;
      margin-bottom: .2rem;
    }
  }

  // .card__date

  &__date {
    font-style: normal;
    font-weight: 700;

    // .card__date_l

    &_l {
      font-size: 1.4rem;
      line-height: 1.1428;
    }

    // .card__date_s

    &_s {
      font-size: .8rem;
      line-height: 1.125;
    }

    // .card__date_m

    &_m {
      font-size: 1rem;
      line-height: 1.2;
    }
  }

  // .card__tech

  &__tech {
    margin: auto 0;
    // .card__tech_default

    &_default {}
  }

  // .card__timer

  &__timer {
    padding: .4rem 1.2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.1428;
    color: #000000;
    background: $fontMainColor;
    border-radius: 1.6rem;
  }

  // .card__rating

  &__rating {
    padding-left: 1.4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.2;

    background: url('../img/star-icon.svg') no-repeat;
    background-size: 1rem 1rem;
    background-position-y: center;
  }
}