// ! глобальные стили

// Container

.container {
  max-width: ($containerWidth + $containerPadding) + px; // макс ширина контейнера
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding+px;
  position: relative;


  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 750px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// * Body

body {
  font-family: $fontMain;
  font-weight: 300;

  &.locked {
    // стиль для боди при открытом бургер менб, чтобы не прокручивался конент под меню
    overflow: hidden;
  }
}

// * Animations
// * Fade

@keyframes fade {

  // для анимации табов
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes cycledMove {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(3px, -1.5px);
  }

  to {
    transform: translate(0, 0);
  }
}