// ! глобальные стили


// grid - сетка страницы

.grid-template {}

// Container

.container {
  max-width: ($containerWidth + $containerPadding) + px; // макс ширина контейнера
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding+px;
  position: relative;


  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 750px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// * Body

html,
body {
  font-family: $fontMain;
  font-size: 62.5%; // 10px удобно для rem
  background: $blackTheme;
  color: $fontMainColor;

  &.locked {
    // стиль для боди при открытом бургер менб, чтобы не прокручивался конент под меню
    overflow: hidden;
  }
}

// * сброс базового размера шрифта при верстке на rem
@media (max-width: 108em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 105em) {
  html {
    font-size: 8.75px;
  }
}

@media (max-width: 91.5em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 91em) {
  html {
    font-size: 8.4px;
  }
}

@media (max-width: 90em) {
  html {
    font-size: 7.9px;
  }
}

@media (max-width: 80em) {
  html {
    font-size: 7.2px;
  }
}

@media (max-width: 72em) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 64em) {
  html {
    font-size: 5.5px;
  }
}

// 768px
@media (max-width: 48em) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 44em) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 38em) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 34em) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 30em) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 26em) {
  html {
    font-size: 4.5px;
  }
}

@media (max-width: 21em) {
  html {
    font-size: 4.4px;
  }
}



// * Animations
// * Fade

@keyframes fade {

  // для анимации табов
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes cycledMove {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(3px, -1.5px);
  }

  to {
    transform: translate(0, 0);
  }
}