// ! глобальные стили


// Container

.container {
  max-width: ($containerWidth + $containerPadding) + px; // макс ширина контейнера
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding+px;
  position: relative;


  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 750px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}


// grid - сетка
.grid-template {
  display: grid;

  // .grid-template_main

  &_main {
    grid-template-areas:
      "header"
      "content"
    ;
    grid-template-columns: 1fr;
    gap: 8rem;

    &>*:first-child {
      grid-area: header;
    }

    &>*:last-child {
      grid-area: content;
    }
  }

  // .grid-template_content

  &_content {
    grid-template-areas:
      "aside main main"
      "aside main main"
      "aside main main"
    ;
    // grid-template-columns: minmax(min-content, 39.4rem) minmax(min-content, 96.2rem);
    // grid-template-columns: 42rem 1fr; // correct

    grid-template-columns: auto 1fr; // auto потому что transition не работает на grid-template-columns/rows
    gap: 3.6rem; // correct

    &>*:first-child {
      grid-area: aside;
      transition: all 0.5s;
    }

    &>*:last-child {
      grid-area: main;
      transition: all 0.5s;
    }
  }
}

// * Body

html,
body {
  font-family: $fontMain;
  @include adaptive-font(10, 5);
  // font-size: 62.5%; // 10px удобно для rem
  background: $blackTheme;
  color: $fontMainColor;

  &.locked {
    // стиль для боди при открытом бургер менб, чтобы не прокручивался конент под меню
    overflow: hidden;
  }
}

// * сброс базового размера шрифта при верстке на rem

// @media (max-width: 1079.99px) {
//   html {
//     font-size: 9px;
//   }
// }

// @media (max-width: 1049.99px) {
//   html {
//     font-size: 8.75px;
//   }
// }

// @media (max-width: 914.99px) {
//   html {
//     font-size: 7.9px;
//   }
// }

// @media (max-width: 909.99px) {
//   html {
//     font-size: 8.4px;
//   }
// }

// @media (max-width: 899.99px) {
//   html {
//     font-size: 7.9px;
//   }
// }

// @media (max-width: 799.99px) {
//   html {
//     font-size: 7.2px;
//   }
// }

// @media (max-width: 719.99px) {
//   html {
//     font-size: 6.5px;
//   }
// }

// @media (max-width: 639.99px) {
//   html {
//     font-size: 5.5px;
//   }
// }

// // 768px
// @media (max-width: 479.99px) {
//   html {
//     font-size: 10px;
//   }
// }

// @media (max-width: 439.99px) {
//   html {
//     font-size: 9px;
//   }
// }

// @media (max-width: 379.99px) {
//   html {
//     font-size: 8px;
//   }
// }

// @media (max-width: 339.99px) {
//   html {
//     font-size: 7px;
//   }
// }

// @media (max-width: 299.99px) {
//   html {
//     font-size: 6px;
//   }
// }

// @media (max-width: 259.99px) {
//   html {
//     font-size: 4.5px;
//   }
// }

// @media (max-width: 209.99px) {
//   html {
//     font-size: 4.4px;
//   }
// }



// // * Animations
// // * Fade

// @keyframes fade {

//   // для анимации табов
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }


@keyframes cycledMove {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(3px, -1.5px);
  }

  to {
    transform: translate(0, 0);
  }
}

// * global classes

.hover {
  transition: $linkTransition;

  &:hover {
    opacity: .8;
    cursor: pointer;
  }
}