// * Container & breakpoints
@use "sass:math"; // подключение модуля math
$maxWidth: 1440; // макс ширина по макету
$containerWidth: 1392; // ширина контейнера контента - ширина - сумма паддиногов
$containerPadding: 48; // паддинги по бокам от контейнера - сумма паддингов
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1200: 1199.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// * Fonts
$fontMain: 'Roboto',
sans-serif;

// * Colors
$fontMainColor: #FFFFFF;
$fontBackColor: rgba(255, 255, 255, 0.2);
$blackTheme: #17161B;

// * transitions & animations
$linkTransition: all .3s ease;
$cycledLinearAnimation: .8s infinite linear;


// * Header & Burger menu options
$burgerBreakpoint: $breakpoint768;
$burgerColor: $fontMainColor;
$burgerColor_active: $blackTheme;
$burgerFontColor_active: $fontMainColor;
$burgerButtonColor: $fontMainColor;
$burgerButtonColor_active: $fontMainColor;
$headerPosition: relative; // fixed or relative

// * Mixins
@import"./mixins";