// * Global SCSS imports
@import "normalize";
@import "_reset";
@import "fonts";
@import "_vars";
@import "_global";


// * Libs
//@import "../../node_modules/bootstrap/scss/bootstrap";


// * Main SCSS Content


// ! потом перенести в reset
.nav-element {
  font-family: inherit;
  font-weight: 400;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  color: inherit;
}

input {
  outline: none;
  border: none;
}

// !



//*

// * компоненты
// кнопка
// @import"../htmlParts/components/button/button";
// @import"../htmlParts/components/Grid-for-cards/Grid-for-cards";
// @import "../htmlParts/components/Card-with-image/card-with-image";
// @import"../htmlParts/components/Social-bar/Social-bar";

// * Sections SCSS files imports
@import "_header";
@import"_aside-bar";
@import"_main";
@import"_card";
// @import"_footer";